@use './variables' as *;

.ad-container {
  width: 90%;
  margin: auto;
}

.ad-btn {
  border-radius: 50px;
  padding: 15px 40px;
  background: $bg-gradient;
  background: linear-gradient(45deg, $bg-gradient 0%, $bg-body 67%);

  text-transform: uppercase;
  color: white;

  &:hover {
    background: $gradient-primary;
    background: linear-gradient(45deg, $gradient-primary 0%, $black 100%);
  }
}

.button-select {
  background: rgb(68, 68, 68);
  background: linear-gradient(45deg, $gradient-primary 0%, $black 100%);
  padding: 5px 15px;
  border-radius: 50px;

  button {
    padding: 3px 20px;
    color: white;

    &:hover {
      background: linear-gradient(90deg, $bg-gradient 11%, $bg-body 90%);
      border-radius: 50px;
    }
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  rotate: 180deg;
  font-size: 12px;
}

header,
footer {
  background: $gradient-primary;
  background: linear-gradient(45deg, $gradient-primary 0%, $black 100%);
}

.different-test {
  color: $bg-body;
}
