$bg-body: #00d9a6;
$bg-gradient: #95e160;
$bg-gradient-trasparent: rgba(149, 225, 96, 0.9248074229691877);
$bg-body-trasparent: rgba(0, 217, 166, 0.8939950980392157);
$p-color: #888888;
$fontNunito: 'Nunito';
$gradient-primary: rgba(68, 68, 68, 1);
$black: #000000;
$black-trasparent: #000000e6;
$bg-form: #3f3f3f;
$bg-secondary: #e5e3df;
